




p {
	text-align: center;
	font-family: "Helvetica";

}
h1 {
	text-align: center;
	font-family: "Helvetica";
	font-size: 45px;

}

h2 {
	text-align: left;
	font-family: "Helvetica";
}

.about p {
	text-align: left;
}