/*
* {
	margin: 0px;
	padding: 0px;
}
*/

body {
	background-color: #FFFFFF;	
}
.wrapper {
	width: 1000px;
	height: 100%;
	background-color: #F5F0EB;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
}

.firstline {
	padding-top: 25px;
}

nav {
	padding-top: 25px;
	padding-bottom: 5px;
	text-align: center;
	font-family: "Helvetica";
	font-weight: bold;
}

h1 {
	padding-top: 5px;
	text-align: center;
	font-family: "Helvetica";
	font-size: 45px;
}

.secondline {
	width: 800px;
	height: 1px;
}

h2 {
	text-align: left;
	font-family: "Helvetica";
	font-size: 20px;
	margin-left: 120px;
	padding-top: 25px;
}


.about {
	width:500px;
	height:100%;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	float: left;
	padding-bottom: 50px;
	font-size: 15pt;
}

.about p {
	padding-bottom: 20px;
}

.profilephoto {
	margin-right: 100px;
	margin-left: 0px;
	margin-bottom: 0px;
	width: 250px;
	height: 250px;
	float: right;
	padding-bottom: 0 px;
}

.thirdline {
	width: 500px;
	margin-left: 100px;
	margin-right: 0px;
	height: 1px;
}

footer {
	padding-top: 25px;
	padding-bottom: 0px;
	padding-left: 300px;
	font-family: "Helvetica"; 
	font-weight: bold;

}

.fourthline {
	padding-top: 50px;
	padding-bottom: 25px;
	width: 100%;
}

.aboutportfolio {
	width: 800px;
	height: 100%;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	float: left;
	padding-bottom: 50px;
	font-size: 15pt;
	font-family: "Helvetica";
}

h3 {
	width: 800px;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	font-family: "Helvetica";
	font-size: 15pt;
	padding-top: 25px;
}

.experiencesportfolio {
	font-size: 12pt;
	width: 800px;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	font-family: "Helvetica";

}

.experiencesportfolio p {
	font-size: 12pt;
	width: 800px;
	text-align: left;
	margin-left: 0px;
	margin-right: 0px;
	font-family: "Helvetica";
	
}

h4 {
	font-size: 12pt;
	width: 800px;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	font-family: "Helvetica";
}

.educationportfolio {
	font-size: 12pt;
	width: 800px;
	text-align: left;
	margin-left: 120px;
	margin-right: 0px;
	font-family: "Helvetica";
	padding-bottom: 10px;
}

.thirdlineportfolio {
	width: 800px;
	margin-left: 250px;
	margin-right: 0px;
	height: 1px;
}

.footerportfolio {
	padding-top: 25px;
	font-family: "Helvetica"; 
	font-weight: bold;
	height: 25px;
	width: 400px;
	text-align: center;
}
